

nav{
    float:none;
    
    .nav-link {
        color: black;
    }

  
}

  
.redes-sociales{
    position:fixed;
    list-style-type: none;
    right:0;
    top:20px
    
  }

  .iconify{
      width: 32px;
      height:32px;
  }

  .btn-outline-success {
    --bs-btn-color: #0b454445;
    --bs-btn-border-color: #14656580;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #19877c66;
    --bs-btn-hover-border-color: #1a6c5e8d;}