.form{
    background-color: rgba(69, 153, 153, 0.495);
    width: 440px;
    border-radius: 20px;
    padding: 8px;
    display: grid;


    input,textarea{
        font-size: 13px;
          margin-bottom: 10px;
          
      }

      textarea{
        min-width: 100px;
        max-height: 200px;
        max-width: 450px;
      }

      #boton{
        background-color: rgb(91, 149, 152);
        padding: 10px;
        border-radius: 20px;

        &:hover{
            cursor: pointer;
          }

      }


  }