

  
  .btn-primary {
    --bs-btn-color: rgb(238, 233, 233);
    --bs-btn-bg: #2277a9af;
    --bs-btn-border-color: #1d9498;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #486da5;
    --bs-btn-hover-border-color: }

