#section {
  background-color: rgba(44, 92, 92, 0.302);
  padding-left: 15px;
  float: left;
   width: 80%;
   min-height: 500px;
   padding: 5px;
  flex-basis: auto;

    .container {
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-auto-rows: 150px;
        background-color: rgba(240, 248, 255, 0.58);
        grid-gap: 15px;
        padding: 15px;


        .gallery-picture{
            position:relative;

            .gallery-title{
                position: absolute;
                bottom: 0;
                color: rgb(0, 3, 6);
                background-color: rgba(240, 255, 255, 0.544);
                width: 100%;
              font-family: cursive;
              }

              .picture1{
                width: 100%;
                 object-fit: cover;
                 height: 100%;
              }
              .picture2{
                width: 100%;
                object-fit: cover;
                height: 100%;
              }
              
              
              .picture3{
                width: 100%;
                object-fit: cover;
                height: 100%;
              }
              
              
              .picture4{
                width: 100%;
                object-fit: cover;
                height: 100%;
              }
              
              .picture5{
                width: 100%;
                object-fit: cover;
                height: 100%;
              }
              .picture6{
                width: 100%;
                object-fit: cover;
                height: 100%;
              }

          }

        }

      }

      aside {
        float: left;
        background-color: rgba(56, 143, 157, 0.227);
        min-height: 300px;
        padding: 10px;}
       