


@keyframes logo{
    0%{ transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
  .logo{
    animation-name: logo;
    animation-duration: 4s;
  }
  
  .imagen-test1:hover{
    transform: scale(1.4);
    transition: transform .6s;
  }
  .imagen-test2:hover{
    transform: scale(1.4);
    transition: transform .6s;
  }
  .imagen-test3:hover{
    transform: scale(1.4);
    transition: transform .6s;

  
  }
  