
 

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: medium;
    list-style-type: none;
  }
  
  html{ font-size: 62.5%;

  
    
  }

  body {
    background-image: url(../img/nino-autismo-caminando-solo.jpg);
    background-size: cover;
  font-family:Georgia, 'Times New Roman', Times, serif
}
